* {
	margin: 0;
}

body {
	background-color: #f5f6fa;
}

.app {
	display: flex;
	justify-content: space-evenly;
	padding: 1.2rem;
}

.app.dark-theme {
	background-color: #010b44e0;
	color: white !important;
}

.app__header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	justify-content: space-between;
}

.app__header-img {
	background-image: url('./images/logo.png');
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 200px;
	height: 50px;
}

.app__header-imgDark {
	background-image: url('./images/logoDark.png');
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 200px;
	height: 50px;
}

.app__header__switch {
	padding-right: 1rem !important;
}

.app__left {
	flex: .9;
}

.app__right {
	display: flex;
	flex-direction: column;
}

.app__right .MuiCardContent-root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.app__stats {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 990px) {
	.app {
		flex-direction: column;
	}
}
